@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

.mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mobile__affilboostLogo{
    margin: 35px;
}
.mobile__affilboost{
    object-fit: contain;
    width: 145px;
}
.mobile__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.mobile__content>h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #313131;
    text-align: center;
}
.mobile__content>h4{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #6E6E6E;
    text-align: center;
    margin-top: -6%;
    margin-left: 10%;
    margin-right: 10%;
}
.mobile__button{
    border-radius: 7px;
    color: white;
    width: 136px;
    height: 51px;
    background: black ;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}